.about-you-noAuth {
    .info-you-noAuth {
        display: flex;
        justify-content: space-around;
        .block-1 {
            span {
                color: #5f4a87;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
            }
        }
        .block-2 {
            span {
                color: #5f4a87;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
            }
        }
        .block-3 {
            span {
                color: #5f4a87;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
}
