.result-content-noAuth {
    margin-top: 70px;
    p {
        font-weight: normal;
        font-size: 14px;
        // line-height: 37px;
        text-align: center;
        letter-spacing: -0.05em;
        margin: 18px 0px 0px;
        color: #8872b2;
    }
    h1 {
        margin: 0;
        color: #2f0a77 !important;
    }
}
