@import "../../../assets/variables.scss";

.user-tag {
    margin-top: 46px;
    display: flex;
    position: relative;
    background: #ffffff;
    left: 0;
    height: 40px;
    width: 241px;
    border: 1px solid #7a869a;
    border-radius: 50px;
    img {
        width: 32px;
        height: 32px;
    }
    .user-tag-date {
        .name {
            font-family: Roboto-Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: $profiler-text;
            opacity: 0.65;
            display: block;
        }
        .email {
            font-family: Roboto-Condensed;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            align-items: center;
            color: $button-primary;
            opacity: 0.65;
        }
    }
}
