.profiler-behavior {
    .noSelection {
        width: auto;
        height: 35px;
        margin-bottom: 2px;
        text-align: left;
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 100px;
        position: relative;
        max-width: 100%;
        label {
            top: 6px;
            left: 18px;
            position: absolute;
            color: #2f0a77 !important;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
        }
        &.selected {
            background-color: #d5cee3;
        }
    }
}
