.profiler-section{
    @media(max-width:960px){
        padding-left:15px;
        padding-right:15px;
    }
    .welcome {
        margin-top: 54px;
    }
    
    .photo {
        margin-top: 20px;
    }
    
    .form-profile {
        margin-top: 30px;
    }
    
    .form {
        display: flex;
        justify-content: space-between  ;
        flex-wrap: wrap;
        margin-top: 30px;
    }
}