.graphic-talents-noAuth {
    .highcharts-credits {
        display: none;
    }
    .highcharts-title {
        display: none;
    }
    .highcharts-legend-item {
        display: none;
    }
    .highcharts-legend {
        display: none;
    }
    .highcharts-subtitle {
        display: none;
    }
    // text {
    //     display: none;
    // }
    .highcharts-yaxis-labels {
        display: none;
    }
    .highcharts-container {
        // background-color: black;
        // width: 1000px;
        // height: 900px;
    }
}
