.containerMediumChart {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 64px;
    // align-items: center;

    .chart {
        display: grid;
        width: 100%;
        flex-direction: row;
        max-width: 700px;
        z-index: 1px;
        padding-top: 0px;

        .item {
            width: 100%;
            height: 32px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            span {
                color: #fff;
                font-size: 22px;
                padding-right: 10px;
            }
        }

        .executor {
            background: #d74149;
        }
        .planejador {
            background: #57dd6d;
        }
        .comunicador {
            background: #ffba00;
        }
        .analista {
            background: #00c9db;
        }

        .first {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        .last {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }

    .contentInfo {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: 100%;
        height: 20px;
        position: relative;
        max-width: 700px;
        z-index: 2px;
        bottom: 190px;
        margin-left: 4px;
        align-items: center;

        .info {
            height: 230px;
            width: 100%;
            border-right: 1px solid #efedf377;
            display: flex;
            margin-bottom: 200px;
            justify-content: space-between;
            flex-direction: column;

            .dominante {
                font-size: 11px;
                color: #5f4a87;
                font-weight: 800;
            }

            .executor {
                color: #d74149;
                font-size: 16px;
                font-weight: 800;
            }
            .planejador {
                color: #57dd6d;
                font-size: 16px;
                font-weight: 800;
            }
            .comunicador {
                color: #ffba00;
                font-size: 16px;
                font-weight: 800;
            }
            .analista {
                color: #00c9db;
                font-size: 16px;
                font-weight: 800;
            }
        }
        .last {
            border-right: 0px !important;
        }
    }
}
